name: Pipeline CI/CD Desafio-Infra

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_test_and_analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 
      
      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'
      
      - name: Instalar dependências
        run: npm ci
      
      - name: Rodar testes com análise
        run: npm run test:coverage
      
      - name: Scan do SonarCloud
        uses: SonarSource/sonarqube-scan-action@v5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build_push_and_deploy:
    runs-on: ubuntu-latest
    needs: build_test_and_analyze
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Login no github container registy
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Construir e enviar Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/bgzitos/projeto-infra-comp:latest
            ghcr.io/bgzitos/projeto-infra-comp:${{ github.sha }}

      - name: Deploy no Render
        run: curl "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"
